<div class="container">
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Formular de Înscriere</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="contactForm">
        <mat-form-field>
          <input matInput required placeholder="Nume" formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            required
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Telefon" formControlName="phone" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Mesaj" formControlName="message" />
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Trimite</button>
    </mat-card-actions>
  </mat-card>
</div>
