<div class="container">
  <mat-card
    *ngIf="!(hideForm$ | async); else thankYouForRegistering"
    class="example-card"
    appearance="outlined"
  >
    <mat-card-header>
      <mat-card-title>Formular de Înscriere</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="contactForm">
        <mat-form-field>
          <input
            type="text"
            matInput
            required
            placeholder="Nume și Prenume"
            formControlName="name"
            minlength="4"
            maxlength="50"
          />
          <mat-error *ngIf="contactForm.get('name')?.invalid">
            {{ getErrorMessage("name") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            type="email"
            matInput
            required
            placeholder="Email"
            formControlName="email"
            minlength="4"
            maxlength="50"
          />
          <mat-error *ngIf="contactForm.get('email')?.invalid">
            {{ getErrorMessage("email") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            type="tel"
            matInput
            placeholder="Telefon (optional)"
            formControlName="phone"
            (keypress)="numbersOnly($event)"
            minlength="10"
            maxlength="15"
          />
          <mat-error *ngIf="contactForm.get('phone')?.invalid">
            {{ getErrorMessage("phone") }}
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Mesaj (optional)"
            formControlName="message"
            maxlength="200"
          />
          <mat-error *ngIf="contactForm.get('message')?.invalid">
            {{ getErrorMessage("message") }}
          </mat-error>
        </mat-form-field>

        <!-- Checkbox GDPR -->
        <mat-checkbox formControlName="gdpr">
          Sunt de acord cu prelucrarea datelor mele personale conform
          <span class="confidentiality-link">
            <a (click)="onClickConfidentiality()">Regulamentului GDPR</a>
          </span>
        </mat-checkbox>
        <mat-error
          *ngIf="contactForm.get('gdpr')?.invalid && contactForm.touched"
        >
          <small>
            Trebuie să acceptați termenii GDPR pentru a trimite formularul.
          </small>
        </mat-error>
        <span
          *ngIf="
            contactForm.get('gdpr')?.invalid && contactForm.get('gdpr')?.touched
          "
          class="error"
        >
        </span>

        <!-- Checkbox evenimente viitoare -->
        <mat-checkbox formControlName="newsletter">
          Doresc să fiu informat despre evenimentele viitoare
        </mat-checkbox>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onSubmit()" [disabled]="!contactForm.valid">
        Trimite
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #thankYouForRegistering>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <div class="mat-display-4">Mulțumim pentru înscriere!</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Vă așteptăm la evenimentul nostru!</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
