<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="content">
        <h1 class="text-center mb-4">Politică de Confidențialitate</h1>

        <h3>
          SOLICITARE ACORD ȘI INFORMARE GENERALĂ CU PRIVIRE LA POLITICA NOASTRĂ
          DE PRELUCRARE A DATELOR CU CARACTER PERSONAL
        </h3>
        <p>
          Vă mulțumim pentru interesul acordat serviciilor și produselor
          <strong>[NUME_COMPANIE]</strong>. Pentru noi, având în vedere relația
          specială cu Dvs., este deosebit de important să asigurăm protecția
          datelor cu caracter personal pe care ni le furnizați. În aceeași
          măsură Confidențialitatea datelor Dvs. cu caracter personal este
          extrem de importantă pentru noi.
        </p>

        <h3>CINE SUNTEM?</h3>
        <p>
          <strong>[NUME_COMPANIE]</strong> este o societate organizată și care
          funcționează în conformitate cu legile din România, cu sediul în
          <strong>[ADRESA]</strong>, înregistrată la ORC sub nr.
          <strong>[NUMAR_INREGISTRARE]</strong>, având CUI
          <strong>[CUI]</strong>.
        </p>

        <h3>CE DATE PRELUCRĂM?</h3>
        <p>
          În vederea livrării bunurilor și serviciilor comandate, confirmării
          Comenzii, informării Dvs. privind stadiul Comenzii, oferirii de
          răspunsuri la reclamațiile plasate, evaluării bunurilor și serviciilor
          oferite, precum și a exercitării unor activități comerciale, de
          promovare a bunurilor și serviciilor, de marketing, publicitate, de
          dezvoltare, de cercetare de piață, statistică, monitorizare a
          vânzărilor și comportamentului de cumpărare a Clienților, activități
          administrative și de media, sunteți de acord să ne încredințați
          următoarele date cu caracter personal:
        </p>
        <ul>
          <li>nume, prenume</li>
          <!-- <li>cnp</li> -->
          <!-- <li>adresa de domiciliu</li> -->
          <li>adresa de e-mail</li>
          <li>adresa de ip</li>
          <li>număr de telefon</li>
          <!-- <li>parola acces cont site</li> -->
        </ul>
        <p>
          Vă rugăm să nu ne furnizați alte date cu caracter personal decât cele
          strict necesare scopului precizat în această politică.
        </p>

        <h3>CARE ESTE SCOPUL ȘI TEMEIUL JURIDIC AL PRELUCRĂRII?</h3>
        <p>
          Datele cu caracter personal furnizate cu consimțământul Dvs. sunt și
          vor fi colectate și prelucrate de noi exclusiv în scopurile pe care le
          vom prezenta în cele ce urmează.
        </p>
        <p>
          Menționăm faptul că prelucrarea datelor cu caracter personal se
          realizează în temeiul consimțământului Dvs. în acest sens (art. 6
          alin. (1) lit. (a) din Regulamentul General privind Protecția Datelor,
          numit în cele ce urmează Regulament/ul).
        </p>
        <p>
          Situațiile în care <strong>[NUME_COMPANIE]</strong> va colecta și
          prelucra datele Dvs. cu caracter personal și scopurile în vederea
          cărora aceste date vor fi prelucrate, sunt următoarele:
        </p>
        <ul>
          <li>Înregistrare cont pe site-ul <strong>[URL_SITE]</strong></li>
          <li>Înregistrare la evenimente (gratuite sau contra-cost)</li>
          <li>Abonare la Newsletter</li>
        </ul>

        <h3>CINE ARE ACCES LA DATELE DVS.?</h3>
        <p>
          Vă aducem la cunoștință că, pentru funcționarea eficientă a site-ului,
          utilizăm diferite servicii de la furnizori externi sau interni
          ("persoane împuternicite de operator"), cărora le putem transmite o
          parte din datele cu caracter personal colectate de la Dvs., cu
          mențiunea expresă că vom apela doar la persoane împuternicite care
          oferă garanții suficiente pentru punerea în aplicare a unor măsuri
          tehnice și organizatorice adecvate, astfel încât prelucrarea să
          respecte cerințele prevăzute în Regulament și să asigure protecția
          drepturilor Dvs.
        </p>
        <p>
          Categoriile de servicii pentru care colaborăm cu furnizorii mai sus
          menționați și datele cu caracter personal transferate acestora sunt
          următoarele:
        </p>
        <ul>
          <li>Servicii SMTP (comunicare email) – adresa de e-mail</li>
          <li>
            Servicii newsletter – adresa de e-mail, nume, prenume, număr de
            telefon
          </li>
          <li>
            Servicii de facturare – nume, prenume, adresa de e-mail, număr de
            telefon, adresă
          </li>
          <li>
            Servicii de curierat/poștă – nume, prenume, adresa de e-mail, număr
            de telefon, adresă
          </li>
          <li>Servicii de trimitere SMS – numărul de telefon</li>
          <li>
            Servicii de procesare plăți online – nume, prenume, adresa de
            e-mail, număr de telefon, adresă
          </li>
          <li>Servicii de comentarii – nume, prenume, e-mail</li>
          <li>Servicii de contabilitate – nume, prenume, adresă, cnp</li>
          <li>Servicii juridice – nume, prenume, adresă, cnp</li>
        </ul>

        <h3>CÂT TIMP SUNT STOCATE DATELE DVS.?</h3>
        <p>
          Datele cu caracter personal furnizate de Dvs. vor fi prelucrate pe
          perioada derulării relațiilor contractuale cu Dvs., precum și
          ulterior, pentru o durată rezonabilă, care nu poate fi mai scurtă
          decât termenul general de prescripție.
        </p>

        <h3>CARE SUNT DREPTURILE DVS.?</h3>
        <p>În calitate de persoană vizată, aveți următoarele drepturi:</p>
        <ul>
          <li>
            dreptul de acces la date - aveți dreptul de a obține din partea
            [NUME_COMPANIE] o confirmare că se prelucrează sau nu date cu
            caracter personal care vă privesc, precum și acces la datele
            respective; totodată, puteți obține o copie a datelor cu caracter
            personal furnizate societății noastre și care fac obiectul
            prelucrării; pentru orice alte copii solicitate de Dvs.,
            [NUME_COMPANIE] poate percepe o taxă rezonabilă, bazată pe costurile
            administrative; în cazul în care introduceți cererea în format
            electronic și cu excepția cazului în care solicitați un alt format,
            informațiile vă vor fi furnizate într-un format electronic utilizat
            în mod curent;
          </li>
          <li>
            dreptul la rectificare – aveți dreptul de a obține rectificarea de
            către [NUME_COMPANIE] a datelor cu caracter personal inexacte,
            precum și dreptul de a obține completarea datelor cu caracter
            personal care sunt incomplete; [NUME_COMPANIE] va comunica fiecărui
            destinatar căruia i-au fost divulgate datele cu caracter personal
            orice rectificare a acestora, cu excepția cazului în care acest
            lucru se dovedește imposibil sau presupune eforturi disproporționate
            și vă va informa cu privire la acești destinatari, dacă veți
            solicita acest lucru;
          </li>
          <li>
            dreptul la ștergerea datelor – aveți dreptul de a obține din partea
            [NUME_COMPANIE] ștergerea datelor cu caracter personal care vă
            privesc, fără întârzieri nejustificate, iar [NUME_COMPANIE] are
            obligația de a șterge datele respective, atunci când: (i) datele cu
            caracter personal nu mai sunt necesare pentru îndeplinirea
            scopurilor pentru care au fost colectate sau prelucrate; (ii) vă
            retrageți consimțământul pe baza căruia are loc prelucrarea și nu
            există niciun alt temei juridic pentru prelucrare; (iii) vă opuneți
            prelucrării și nu există motive legitime care să prevaleze în ceea
            ce privește prelucrarea; (iv) datele cu caracter personal au fost
            prelucrate ilegal; (v) datele cu caracter personal trebuie șterse
            pentru respectarea unei obligații legale ce revine [NUME_COMPANIE]
            în temeiul dreptului Uniunii sau al legislației române;
            [NUME_COMPANIE] va comunica fiecărui destinatar căruia i-au fost
            divulgate datele cu caracter personal orice ștergere a acestora, cu
            excepția cazului în care acest lucru se dovedește imposibil sau
            presupune eforturi disproporționate și vă va informa cu privire la
            acești destinatari, dacă veți solicita acest lucru;
          </li>
          <li>
            dreptul la restricționarea prelucrării – aveți dreptul de a obține
            din partea [NUME_COMPANIE] restricționarea prelucrării în cazul în
            care vă aflați într-unul din următoarele cazuri: (i) contestați
            exactitatea datelor, pentru perioada care îi permite [NUME_COMPANIE]
            să verifice exactitatea datelor; (ii) prelucrarea este ilegală, iar
            Dvs. vă opuneți ștergerii datelor cu caracter personal, solicitând
            în schimb restricționarea utilizării lor; (iii) [NUME_COMPANIE] nu
            mai are nevoie de datele cu caracter personal în scopul prelucrarii,
            dar Dvs. le solicitați pentru constatarea, exercitarea sau apărarea
            unui drept în instanță; sau (iv) v-ați opus prelucrării pentru
            intervalul de timp în care se verifică dacă drepturile legitime ale
            [NUME_COMPANIE] prevalează asupra drepturilor Dvs.; [NUME_COMPANIE]
            va comunica fiecărui destinatar căruia i-au fost divulgate datele cu
            caracter personal orice restricționare a prelucrării, cu excepția
            cazului în care acest lucru se dovedește imposibil sau presupune
            eforturi disproporționate și vă va informa cu privire la acești
            destinatari, dacă veți solicita acest lucru;
          </li>
          <li>
            dreptul la portabilitatea datelor – aveți dreptul de a primi datele
            Dvs. cu caracter personal, astfel cum acestea au fost furnizate
            către [NUME_COMPANIE], într-un format structurat, utilizat în mod
            curent și care poate fi citit automat și de a transmite aceste date
            altui operator, în anumite condiții; în exercitarea acestui drept,
            aveți dreptul ca datele cu caracter personal să fie transmise direct
            de la [NUME_COMPANIE] la alt operator atunci când acest lucru este
            fezabil din punct de vedere tehnic;
          </li>
          <li>
            dreptul la opoziție – aveți dreptul de a vă opune, din motive legate
            de situația particulară în care vă aflați, în orice moment,
            prelucrării datelor Dvs. cu caracter personal, inclusiv creării de
            profiluri pe baza respectivelor dispoziții;
          </li>
          <li>
            dreptul de a nu face obiectul unei decizii bazate exclusiv pe
            prelucrarea automată, inclusiv crearea de profiluri;
          </li>
          <li>
            dreptul de a depune o plângere în fața Autorității Naționale de
            Supraveghere a Prelucrării Datelor cu Caracter Personal;
          </li>
          <li>
            dreptul de a vă retrage consimțământul în orice moment, fără a
            afecta legalitatea prelucrării datelor cu caracter personal
            efectuate de [NUME_COMPANIE] pe baza consimțământului înainte de
            retragerea acestuia.
          </li>
        </ul>
        <h3>CUM AVEȚI ACCES LA DATELE DVS.?</h3>
        <p>
          Pentru orice întrebări sau cereri referitoare la datele cu caracter
          personal pe care ni le-ați transmis, inclusiv în vederea exercitării
          drepturilor pe care le aveți, astfel cum sunt acestea menționate în
          cadrul secțiunii anterioare, ne puteți contacta la adresa: [ADRESA].
          [NUME_COMPANIE]. vă va furniza informațiile solicitate în format
          electronic atunci când este posibil, cu excepția cazului în care
          solicitați un alt format. Informațiile furnizate, precum și orice
          comunicare și măsuri luate în exercitarea de către Dvs. a drepturilor
          de mai sus sunt oferite de [NUME_COMPANIE]. gratuit. Cu toate acestea,
          în cazul în care cererile formulate de Dvs. sunt nefondate sau
          excesive, în special din cauza caracterului lor repetitiv,
          [NUME_COMPANIE]. poate: (i) fie să perceapă o taxă, ținând cont de
          costurile administrative pentru furnizarea informațiilor sau a
          comunicării sau pentru luarea măsurilor solicitate; (ii) fie să refuze
          să dea curs cererii. Precizăm faptul că prin acceptarea acestui acord,
          datele Dvs. personale vor fi prelucrate de [NUME_COMPANIE]., conform
          prezentei Politici de Prelucrare a Datelor cu Caracter Personal. Vă
          mulțumim!
        </p>
        <p>
          Pentru orice solicitări legate de datele personale, vă rugăm să ne
          contactați la <strong>[EMAIL_CONTACT]</strong> sau la
          <strong>[TELEFON_CONTACT]</strong>.
        </p>
      </div>
    </div>
  </div>
  <ng-container *ngTemplateOutlet="navigateHome"></ng-container>
</div>

<ng-template #navigateHome>
  <div class="row justify-content-center mt-4">
    <button
      mat-raised-button
      color="primary"
      class="big-button"
      (click)="goHome()"
    >
      Înapoi
    </button>
  </div>
</ng-template>
